<div class="container mt-5">
  <div class="text-muted text-center">
    <h1>Marriage Problems</h1>
  </div>
  <div class="text-secondary mt-4">
    <p>Marriages are made in heaven and arranged on Earth. However, since the arrangement is completely a human affair, some marriages often suffer turmoil. In spite of match making the couple suffers separation due to various reasons.</p>
  </div>
  <div class="text-muted">
    <h3>Here are some important reasons behind unhappy marriages</h3>
  </div>
  <div class="text-secondary mt-4">
    <p><i class="fas fa-dot-circle mr-3"></i>Most of the marriages that suffer an unhappy ending weren’t held on an auspicious occasion. Often people try to manipulate the timing or the ‘muhurath’ of their marriage according to their convenience. They try to alter the date, so that they go back to their jobs or can have more guests attending their marriage. This often affects their married life.</p>
    <p><i class="fas fa-dot-circle mr-3"></i>Secondly, parents of brides or grooms, tend to hide the faults in the horoscope of their children. This invites serious consequence in future like separation or even death of a partner. These faults can only be identified by qualified and experienced astrologers.</p>
    <p><i class="fas fa-dot-circle mr-3"></i>Most people are just ignorant about choosing the right astrologers. Not everyone is proficient enough to guide you well. An expert astrologer or a numerologist is able to study the horoscope of both the bride and the bridegroom together and only then come to a decision.</p>
  </div>
  <div class="text-muted mt-5">
    <h3>ASK marriage date predictions</h3>
  </div>
  <div class="text-secondary mt-4">
    <p>ASK’s marriage date prediction is completely on his research and analysis. According to Sri M. Ashok Kumar, the marriages dates that have the sum total of 4, 5 and 8 often lead to unsuccessful marriages. For example the marriage dates like 4,13,22,31 that have the sum total of 4 invites financial problems for the couples. The dates with the sum total of 5 like, 5, 14, 23 leads to separation due to misunderstanding or ego clashes. Lastly, the marriage dates with the sum total of 8 like, 8, 17 and 26 leads to drastic end, even death of a partner. Nearly all dowry deaths belong to this category.</p>
  </div>
  <div class="text-secondary">
    <p>According to ASK traditional astrology often fails to detect the probable ill effects of inauspicious dates on a marriage. According to him, further research needs to be done by astrologers following the traditional way to sort out existing drawbacks in the process of calculation. This is their social responsibility.</p>
  </div>
  <div class="text-muted mt-5">
    <h3>
		What can you expect from ASK marriage date prediction?
	</h3>
  </div>
  <div class="text-secondary mt-4">
  	<p><i class="fas fa-dot-circle mr-3"></i>A thorough compatibility matching of both the bride and the groom</p>
  	<p><i class="fas fa-dot-circle mr-3"></i>Proper calculation of the marriage date and time</p>
  </div>
  <div class="text-secondary mt-5">
  	<p>Sri M. Ashok Kumar is credited to materialise more that 50 successful marriages till date. If you too wish to be the part of this group, contact ASK Research Foundation today.</p>
  </div>
  <div class="mt-5"></div>
</div>
