<div class="container mt-5">
	<div class="text-center">
		<h1 class="text-muted">Lucky Friends</h1>
	</div>
	<div class="mt-4 text-secondary mt-4">
		<p>Man is a social animal. We cannot live alone. We need friends around us. But everyone who poses friendly might not be your actual friends. It is very hard to identify the hidden intentions behind the friendly faces. However, now it is possible to identify friends who bring in luck for you. ASK lucky friends, is the outcome of the years of research by Shri. Ashok Kumar. It is entirely based on the philosophy of the age old occult science –Numerology.</p>
	</div>
	<div class="mt-4 text-muted">
		<h3>How does ASK Lucky Friend works?</h3>
	</div>
	<div class="text-secondary mt-4">
		<p>Numerology is entirely based on the science of numbers. Sri Ashok Kumar firmly believes that every object in this universe is associated with numbers and so are our names. Every name has a numerological value associated to it. This numerological value can affect our destiny.</p>
	</div>
	<div class="text-muted mt-4">
		<h3>How can ASK Lucky Friend prediction help us?</h3>
	</div>
	<div class="text-secondary mt-4">
		<p>This prediction is great for those who are deciding on business partnership. Choosing a wrong partner can inviting numerous unwanted turmoil in business. This can even turn lift threatening. So, before you step into a joint venture, get a ASK Lucky Friend prediction</p>
	</div>
	<div class="text-secondary mt-4">
		<p>ASK lucky friend prediction can even yield great results for those planning for arranged marriages. You can have this prediction to know about your compatibility with your would-be husband or wife.</p>
	</div>
	<div class="text-muted mt-4">
		<h3>How does ASK Lucky Friend works?</h3>
	</div>
	<div class="text-secondary mt-4">
		<p>Now, finding you can find your lucky friend yourself. No, need to know numerology, palmistry or astrology. Just type in your birth date on the “Lucky Friend” interface on our website and you will get to know people with which birth number are lucky for you.</p>
	</div>
	<div class="mt-5 text-secondary">
		<p>For detailed discussion on your lucky friend and other predictions, contact us today.</p>
	</div>
	<div class="mt-5"></div>
</div>