<div class="container mt-5">
	<div class="row justify-content-center">
		<h1 class="text-muted">Disclaimer</h1>
	</div>
	<div class="mt-4 txt-color">
		<p>
			The owners of this website or the writer of articles / write-ups published in this website do not provide any guarantee of any kind whatsoever to any one for the success of predictions / predictive indications given in various articles / write-ups published here as all pointers in each and every case are only mentioned as per the age old astrological principles.
		</p>
	</div>
	<div class="txt-color">
		<p>
			We are not concerned with the success or failures of our predictions as our aim is to adopt the age old astrological principles enshrined in various astrological texts in relation to personalities and events and explain the same to the visitors of this website for the dissemination of the rich astrological knowledge.
		</p>
	</div>
	<div class="txt-color">
		<p>
			This website is run purely with professional objectives and with the intention of sharing astrological information and not with any ulterior motives of any kind. We are neither elated when any of our various predictions proves correct nor disenchanted when any of our predictions proves wrong. Our only intention is to understand the treasure of astrological knowledge properly and let everyone know of it.
		</p>
	</div>
	<div class="txt-color">
		<p>
			Any doubts, comments or questions in this connection can be mailed to the address provided in the contact page of this website. This web site also welcomes suggestions from the user community. However, anything maligning the stated astrological principles and theories or the astrological community will not be responded to or used by this web site.
		</p>
	</div>
	<div class="mrg-top"></div>
</div>