<div class="container mt-5">
	<div class="text-center">
		<h1 class="text-muted">Lucky Logos</h1>
	</div>
	<div class="text-secondary mt-5">
		<p>
			Your logo is your identity, it represents you. It becomes all the more important when it is associated to your business or your professional life. A good representation has a great impression and ensures reliability and trust. However, just a good looking logo cannot invite success; luck needs to play a part as well. You need to know what symbolises success for you.
Sri Ashok Kumar has been fabricating lucky brand identities for business houses, family businesses and corporate to help them achieve success.
		</p>
	</div>
	<div class="text-muted mt-5">
		<h3>Visible benefits of ASK Lucky Logos</h3>
	</div>
	<div class="mt-4 text-secondary">
		<p><i class="fas fa-arrow-circle-right mr-2"></i>A professionally designed logo based completely on pure numerology principals.</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Warding off negative vibes with ASK lucky logo that are based on scientific research</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>No undesirable result, adds fortune to your business and brings in prosperity and success</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Creates a positive impression on the probable clients, increases credibility and fetches trust</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Visually appealing, relevant to your business and has a long lasting impression on the viewers mind.</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Affordable and reasonably priced</p>
	</div>
	<div class="text-muted mt-5">
		<h3>You can have ASK lucky logos for</h3>
	</div>
	<div class="mt-4 text-secondary">
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Business cards</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Visiting cards</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Letter heads</p>
		<p><i class="fas fa-arrow-circle-right mr-2"></i>Tagged along with your company’s name</p>
	</div>
	<div class="text-secondary mt-4">
		<p>Get in touch to know more about ASK lucky logos and see yourself climbing the stairs to reach the peak.</p>
	</div>
	<div class="mt-5"></div>
</div>