<div class="container mt-5">
	<div class="text-center">
		<h1 class="text-muted">Lucky Stones</h1>
	</div>
	<div class="mt-5">
		<p class="text-secondary">
			Want to see your children successful and happy in life? Associate luck with their life, give them a lucky name. The ASK lucky baby names are the outcome of decades of knowledge, research and experience. Sri Ashok Kumar, has been adorning new born babies with the most precious gift they can ever get, the gift of being lucky throughout their lives. ASK lucky name has brought sheer good luck to more than 2,000 new born babies for over two decades now.
		</p>
	</div>
	<div class="text-muted mt-5">
		<h3>Why MGK Lucky Stones?</h3>
	</div>
	<div class="mt-4">
		<div class="text-secondary">
			<p><i class="fas fa-arrow-circle-right mr-2"></i>Lab and power tested spiritually energized gems.</p>
			<p><i class="fas fa-arrow-circle-right mr-2"></i>No unpleasant effect</p>
			<p><i class="fas fa-arrow-circle-right mr-2"></i>100% original stones, selected with proper knowledge of gemmology</p>
			<p><i class="fas fa-arrow-circle-right mr-2"></i>Business tycoons have tried ASK lucky stones. Everyone has expressed their satisfaction with the result.</p>
		</div>
	</div>
	<div class="text-muted mt-5">
		<h3>How MGK lucky stones work?</h3>
	</div>
	<div class="mt-4">
		<p class="text-secondary">
				Gemstones are known to be store house of inherent energy. They are known to influence human lives is a great way. However, different gemstone works differently on different people. Hence, just wearing a gemstone may not fetch you good luck.
	ASK lucky stones are not just gems advised for good luck or peaceful life in general. They are the ones that are selected exclusively to solve your problems and being in success.
		</p>
	</div>
	<div>
		<p class="text-secondary">
			Most astrologers are confused whether they should prescribe you gemstone according to your birth date, Rasi, the current Dasha or the Ashtadasha. Moreover, most of them do not have the knowledge of Gemmology to identify the original stones.
So, if you want to know about the correct gemstone to shine your future, look out for the ASK lucky stones. Call us to know more.
		</p>
	</div>
	<div class="mt-5">
		
	</div>
</div>