<div class="container mt-5">
	<div class="text-center">
		<h1 class="text-muted">Cosmic Vaastu</h1>
	</div>
	<div class="text-secondary mt-5">
		<p>Cosmic vaastu is a term associated with the combination of cosmic and earthly energies, closely associated with our well-being.</p>
	</div>
	<div class="text-muted mt-5">
		<h1>How important is Cosmic Vaastu in our live?</h1>
	</div>
	<div class="text-secondary">
		<p>
			The term ‘Vaastu’ has come from Sanskrit words ‘Vas’ means to ‘live’ and ‘Asthu’ means ‘in this way’. It is one of the ancient form of knowledge that teaches us the right way to live. The existence of Vaastu dates back to the Indian vedic era. Vaastu deals with the existence and accumulation of positive and negative energies around us. Negative energy is known to affect our life adversely. If our house or office accumulated negativity, it is bound to affect our lives.
		</p>
	</div>
	<div class="text-secondary">
		<p>
			Having a properly vaastu compliant home or office will not only benefit your financial and professional life but also bring your peace of mind and contentment.
		</p>
	</div>
	<div class="text-muted mt-4">
		<h3>Benefits of ASK Cosmic Vaastu</h3>
	</div>
	<div class="text-secondary mt-4">
		<p><i class="far fa-thumbs-up mr-3"></i>Scientific vaastu based on thorough research and years of experience</p>
		<p><i class="far fa-thumbs-up mr-3"></i>Cosmic vaastu solutions customized separately as per your requirement</p>
		<p><i class="far fa-thumbs-up mr-3"></i>No demolition or re-construction of home of office is required</p>
		<p><i class="far fa-thumbs-up mr-3"></i>Complete analysis on each and every nook and corner and deciding solutions based on the ‘aura’ metrics.</p>
		<p><i class="far fa-thumbs-up mr-3"></i>Effective solutions with prominently visible results</p>
		<p><i class="far fa-thumbs-up mr-3"></i>Reasonably prices solutions that are easy to act upon</p>
	</div>
	<div class="text-muted mt-4">
		<h3>How ASK Cosmic Vaastu is different?</h3>
	</div>
	<div class="text-secondary">
		<p>
			Shri Ashok Kumar as been providing accurate vaastu solutions for people across the globe. ASK cosmic vaastu involves a lot of research and great deal of knowledge. This is more of a scientific study of positive and negative energies and their affect of our lives. ASK cosmic vaastu has its feet rooted in the ancient form of the study but that doesn’t restrain it back from associating with science. This is a more practical form of vaastu that gives accurate results.
		</p>
	</div>
	<div class="text-secondary mt-5">
		<p>
			Contact us to know more about ASK Cosmic Vaastu and book an appointment today.
		</p>
	</div>
	<div class="mt-5"></div>
</div>