<div class="container mt-5">
	<div class="row justify-content-center">
		<h1 class="text-muted">About</h1>
	</div>
	<div class="mt-4 text-secondary">
		<p>
			The famous numerologists Sri Ashok kumar, also reputed as ASK is a graduate from Osmania University. He was born and resident of Nellore District of Andhra Pradesh. He always aimed to help people live a confident and rational life. This motivated him to take up scientific numerology as his profession.
		</p>
	</div>
	<div>
		
	</div>
</div>