<nav class="navbar navbar-expand-lg navbar-light bg-light bottom">
  <img src="./../assets/ashok.png" class="image mr-2" width="120rem" height="60rem">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news">News</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu mrg" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/services">Lucky Names</a>
          <a class="dropdown-item" routerLink="/lucky-friends">Lucky Friends</a>
          <a class="dropdown-item" routerLink="/lucky-stones">Lucky Stones</a>
          <a class="dropdown-item" routerLink="/lucky-logos">Lucky Logos</a>
          <a class="dropdown-item" routerLink="/carrer">Carrer</a>
          <a class="dropdown-item" routerLink="/cosmic">Cosmic Vaastu</a>
          <a class="dropdown-item" routerLink="/marriage">Marriage and martial problems</a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Media
        </a>
        <div class="dropdown-menu mrg" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/media">Photo gallery</a>
          <a class="dropdown-item" href="#">Video gallery</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/testimonials">Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact us</a>
      </li>
    </ul>
    <hr class="hide">  
      <h3 class="hide">Search</h3>  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="search here">
      <button class="btn my-2 my-sm-0 btn-info" type="submit"><i class="fas fa-search"> </i> Search</button>
    </form>
  </div>
</nav>

